/* font-family: "Inter", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Nunito Sans", sans-serif;
font-family: "Inter", sans-serif; */

:root {
  --color-body: #696984;
  --color-primary: #0b7077;
  --color-secondary: #fd661f;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: var(--color-body);
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.6;
  transition: all 0.3s ease;
}

h1,
h2,
h3,
h4,
h5,
p,
li {
  --color-body: #696984;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 700;
}
h2 {
  font-weight: 400;
}

button {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

